@use '../mixins'as *;
@use '../variables' as *;

.kui-area {
    background-color: var(--clr-el-bg, transparent);
    color: var(--clr-el-text, var(--clr-text));
    padding: var(--el-padding, 0);
    font-size: var(--el-font-size, 1em);

    isolation: isolate;

    @include mq(small) {
        padding: 0.125em;
    }
    h1,h2,h3,h4,h5 {
        color: var(--clr-el-text, var(--clr-text));
    }
}

@each $context in $contexts {
    .kui-area.#{$context} {
        --clr-el-bg: var(--clr-#{$context});
        --clr-el-text: var(--clr-text-alt);
    }
}



@each $color, $hsl in $colors {
    .kui-area.#{$color} {
        --clr-el-bg: var(--clr-#{$color});
        --clr-el-bg-dark: var(--clr-#{$color}-dark);
    }
}
