@use '../mixins'as *;
@use '../variables' as *;

.kui-box {
    --clr-el-bg: var(--clr-body);
    --clr-el-text: var(--clr-text);

    background-color: var(--clr-el-bg);
    color: var(--clr-el-text);
    box-shadow: var(--box-shadow);
    padding: 1em;

    isolation: isolate;
    
    @include mq(small) {
        padding: 0.125em;
    }
    h1,h2,h3,h4,h5 {
        color: var(--clr-el-text, var(--clr-text));
    }
}


@each $context in $contexts {
    .kui-card.#{$context} {
        --clr-el-bg: var(--clr-#{$context});
        --clr-el-text: var(--clr-text-alt);
    }
}