@use '../variables' as *;

.kui-btn {
  @media print {
    display: none;
  }
  --clr-el-text: var(--clr-btn-text);
  --clr-el-bg: var(--clr-btn);

  display: inline-flex;
  align-items: center;
  color: var(--clr-el-text);
  cursor: pointer;
  background-color: var(--clr-el-bg);
  font-size: var(--btn-text-size, 1rem);
  font-weight: 500;
  padding: 0.125em 0.75em;
  margin: 0.25em;
  height: 2em;
  border-radius: var(--border-radius);

  border: 0;
  text-decoration: none;
  white-space: nowrap;

  i {
    padding: 0;
    padding-inline-end: 0.5em;
  }

  &:hover {
    transform: var(--transform-raise);
    transition: transform filter var(--timing-fast);
    z-index: 1;
  }

  &:focus,
  &:active {
    outline: currentColor dashed 1pt;
    outline-offset: -2pt;
    transition: filter outline var(--timing-fast);
    color: var(--clr-el-text);
  }

  &:hover,
  &:focus,
  &:active {
    filter: drop-shadow(var(--box-shadow));
    color: var(--clr-el-text);
  }
  &:visited {
    color: var(--clr-el-text);
  }
}

.kui-btn-group {
  @media print {
    display: none;
  }
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap2x);
}

.kui-btn-group .kui-btn {
  border-radius: 0;
  margin: 0;

  &:first-of-type {
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
  }

  &:last-of-type {
    border-start-end-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
  }
}

@each $context in $contexts {
  .kui-btn.#{$context} {
    --clr-el-bg: var(--clr-#{$context});
  }
}

.kui-btn:disabled,
.kui-btn.btn-inactive {
  filter: saturate(0.4) brightness(1.2);
  cursor: not-allowed;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1);
    transition: 0;
  }
}

.kui-btn.btn-small {
  font-size: var(--btn-text-size-small, 0.75em);
}

.kui-btn.btn-large {
  font-size: var(--btn-text-size-large, 1.25rem);
}

.kui-btn.btn-default {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -0.25em;
}

.btn-badge,
.btn-icon,
.kui-btn.btn-action {
  aspect-ratio: 1;
  justify-content: center;
  padding: 0.125em 0.125em;

  i {
    padding: 0;
  }
}

.kui-btn.btn-badge {
  border-radius: 100%;
}

.kui-btn.btn-action {
  background-color: transparent;
  padding: 0;
  height: 1em;
  &:hover {
    color: var(--clr-el-bg);
  }
}
