@use '../mixins' as *;
@use '../variables' as *;

.kui-card {
  --clr-el-bg: var(--clr-bg);
  --clr-el-text: var(--clr-text);

  background-color: var(--clr-el-bg);
  color: var(--clr-el-text);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 1rem 0;
  padding: 0.5em;

  @include mq(small) {
    padding: 0.125em;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    &:first-child {
      margin-top: 0;
    }
    color: var(--clr-el-text, var(--clr-text));
  }
}

// @each $context in $contexts {
//   .kui-card.#{$context} {
//     --clr-el-bg: var(--clr-#{$context});
//     --clr-el-text: var(--clr-text-alt);
//   }
// }

@each $color, $hsl in $colors {
  .kui-card.#{$color} {
    --clr-el-bg: var(--clr-#{$color});
    --clr-el-text: var(--clr-text-alt);
  }
  .kui-card.#{$color}.light {
    --clr-el-bg: var(--clr-#{$color}-tint-300);
    --clr-el-text: var(--clr-text);
  }
}
