.kui-input {
  --clr-element: var(--clr-grey);
  --clr-element-focus: var(--clr-cyan);
  --clr-highlight: var(--clr-cyan-tint-300);
  display: flex;
  position: relative;
  flex-flow: column-reverse;
  color: var(--clr-element);

  input,
  textarea,
  select {
    padding: 0.25em;
    outline: none;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    font-family: inherit;
    font-size: inherit;

    &:focus {
      border-color: var(--clr-element-focus);
      outline: 0.25em solid var(--clr-highlight);
      outline-offset: -0.125em;
    }
  }

  input.large {
    font-size: 1.25em;
  }

  input[type='date'] {
    max-width: 80%;
  }

  textarea {
    resize: none;
  }

  span {
    transition: transform 200ms ease-in-out;
    font-style: italic;
    transform: translate(0);
    transform-origin: top left;
    font-size: 0.8em;
    height: 1.125rem;
    color: var(--clr-element-focus);
    font-weight: bold;
    margin-top: 0.5em;
    &:empty {
      display: none;
    }
  }

  input:not(:focus):invalid ~ span,
  textarea:not(:focus):invalid ~ span {
    transform: translate(0.5em, 1.75em) scale(1.25);
  }

  input[placeholder]:not(:focus):invalid ~ span,
  textarea[placeholder]:not(:focus):invalid ~ span {
    transform: translate(0, 0);
  }

  input:not(:focus) ~ span,
  textarea:not(:focus) ~ span,
  select:not(:focus) ~ span {
    color: var(--clr-element);
  }
}
