@use '../variables.scss' as *;

.kui-pill {
    --clr-el-bg: var(--clr-primary, #777);
    font-size: 0.8em;
    white-space: nowrap;
    border-radius: 100vw;
    display: inline-block;

    min-width: 1.75em;
    text-align: center;    
    padding: var(--padding) var(--padding3x);
    color: white;
    background-color: var(--clr-el-bg);
    i {
        margin-inline-end: 0.5em;
    }
  }

  .kui-pill-list {
    display: flex;
    gap: var(--gap2x);
  }


@each $context in $contexts {
    .kui-pill.#{$context} {
        --clr-el-bg: var(--clr-#{$context});
    }
}
