@use '../mixins' as *;

.lio-dialog > section {
  padding: var(--padding) var(--padding2x);
}

.kui-dialog > .prompt {
  --bg-clr: var(--clr-shade-500, rgba(0, 0, 0, 0.5));
  position: absolute;
  inset: 1rem;
  display: flex;
  flex-direction: column;

  width: 30em;
  max-width: 80%;
  height: fit-content;
  max-height: 90%;
  margin: auto;

  background-color: white;
  box-shadow: var(--box-shadow-raise);
  border-radius: var(--border-radius);
  @include mq(small) {
    position: fixed;
    inset: 0;
    max-width: unset;
    max-height: unset;
  }
  @media print {
    max-width: unset;
    max-height: unset;
  }
  &.large {
    height: unset;
    width: unset;
  }
}

.kui-dialog > .prompt > .header {
  flex: 0 0 fit-content;
  user-select: none;
  height: 2rem;
  background-color: var(--bg-clr);
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) calc(2 * var(--padding));

  *:only-child {
    flex: 1;
  }

  .title {
    font-weight: bold;
  }

  .controls {
    margin-right: -0.5em;

    .kui-close-btn {
      color: white;

      &:hover {
        color: var(--clr-warning);
      }
    }
  }
}

.kui-dialog > .prompt > .body {
  overflow-y: auto;
  padding: var(--padding2x);
  flex: 1 1 auto;
  flex-direction: column;
  gap: var(--gap2x);
  display: flex;
  & > * {
    margin: 0;
  }
  @media print {
    overflow-y: visible;
  }
}

.kui-dialog > .prompt > .footer {
  flex: 0 0 fit-content;
  background-color: var(--bg-clr);
  display: flex;
  justify-content: flex-end;
  padding: var(--padding) calc(2 * var(--padding));
  border-top: 1px dotted black;
}

.kui-dialog > .prompt > .kui-btn-group {
  margin: 1rem 1rem 1rem auto;
}
