
  .kui-tabs {
    --clr-el-bg: var(--clr-body);
    --clr-el-text: var(--clr-text);


    display: flex;
    min-width: 0;

    font-family: var(--font-alt);
    font-size: 0.875em;
    text-align: center;
    margin: 1em 0.5em 0;
    padding-inline-start: 0;

    list-style-type: none;
    isolation: isolate;
    z-index: 0;

    .tab {
      position: relative;
      isolation: isolate;
      overflow-x: clip;
      max-width: 10em;
      user-select: none;
      padding: var(--padding) var(--padding3x) var(--padding) var(--padding2x);
      margin: 0.25em 0 0;
      color: var(--clr-el-text);
      text-overflow: ellipsis;
      white-space: nowrap;
      border-inline-end: 1px solid currentColor;

      &.fixed {
        flex: 0 0 fit-content;
      }

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        filter: brightness(0.9);
        background-color: var(--clr-el-bg);
        border-radius: 0;
        z-index: -1;
      }

      &:first-child::before {
        border-start-start-radius: var(--border-radius);
      }

      &:last-child {
        border-inline-end: 0;
      }

      &:last-child::before {
        border-start-end-radius: var(--border-radius);
      }

      &.active,
      &:hover,
      &:focus {
        max-width: 100%;
        transition: max-width 400ms ease-in-out;
        flex: 0 0 fit-content;
        &::before {
          top: -0.5em;
          left: -1px;
          right: -1px;
          filter: brightness(1);
          transition: all 100ms ease-in filter 0ms linear;
          border-start-start-radius: var(--border-radius);
          border-start-end-radius: var(--border-radius);
        }
      }

      &:focus {
        outline: currentColor dashed 1pt;
        outline-offset: -2pt;
        transition: all var(--timing-fast);
      }

      &.active {
        padding-top: var(--padding);
        z-index: 1;
        box-shadow: var(--box-shadow);
        &:before {
          box-shadow: var(--box-shadow);
        }
      }
    }
  }
