.kui-toggler {
    --clr-On: var(--clr-success, "green");
    --clr-Off: var(--clr-warning, "red");
    --clr-current: var(--clr-Off);

    position: relative;
    display: inline-flex;
    align-items: center;

    gap: var(--gap);
    margin: 0;

    &.large {
        font-size: 1.5em;
    }

    .toggler-control {
        display: flex;
        position: relative;
        align-items: center;
        gap: var(--gap);
        padding: 0.125em 0.5em;
        margin: 0;
        border: 2px solid var(--clr-current);
        border-radius: 100vw;
        box-shadow: inset var(--box-shadow) white, inset var(--box-shadow);
        cursor: pointer;

        isolation: isolate;
        overflow: hidden;

        max-width: fit-content;
        min-width: 2.5em;
        min-height: 1.25em;

        .inner-toggle {
            position: absolute;
            z-index: 1;
            inset: 0;
        }
    }

    input {
        display: none;

        &:checked {
            &~.toggler-control .handle {
                left: calc(100% - 1.25em);
            }

            &~* {
                --clr-current: var(--clr-On);
            }
        }
    }

    .label {
        flex: 1;
        white-space: nowrap;
        user-select: none;
        min-width: 1em;
        line-height: 0;
        float: left;
    }



    .handle {
        position: absolute;
        left: 0.25em;
        font-size: 0.75em;
        width: 1em;
        height: 1em;
        border-radius: 100%;
        box-shadow: var(--box-shadow);
        background-color: var(--clr-current);
    }

    &.inner-label {
        .label {
            line-height: 1;
        }

        .handle {
            font-size: 1em;
        }
    }


    .label,
    .handle {
        transition: all var(--timing-fast) ease-in-out;
    }

    &.disabled {
        filter: opacity(0.75) grayscale(0.5);
    }

    .label-on {
        opacity: 0;
    }

    .label-off {
        opacity: 1;
    }

    input:checked~.inner-toggle,
    input:checked~.toggler-control {
        .label-on {
            opacity: 1;
        }

        .label-off {
            opacity: 0;
        }
    }
}

[dir="rtl"] {
    .kui-toggler .handle {
        left: calc(100% - 1.25em);
    }

    .kui-toggler .inner-toggle .label {
        float: right;
    }

    .kui-toggler .toggler-control .label-off {
        text-align: left;
    }

    .kui-toggler>.label {
        text-align: right;
    }

    .kui-toggler input:checked~.toggler-control .handle {
        left: 0.25em;
    }
}