/* Remirror tooltip */
[data-tippy]:not(.unstyled) {
  text-decoration: none;
  border-bottom: var(--tooltip-border-width) var(--tooltip-border-style);
  border-width: var(--tooltip-border-width);
  margin-bottom: calc(-1 * var(--tooltip-border-width));
  background-color: var(--tooltip-background);
  color: var(--tooltip-text-color);
  cursor: help;
}

[data-tippy-root] .tippy-content {
  ul {
    margin-inline-start: 1rem;
  }
  img {
    max-width: 100%;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

/* Old wysiwyg tooltip */

a[data-tip] {
  text-decoration: none;
  border-bottom: var(--tooltip-border-width) var(--tooltip-border-style);
  border-width: var(--tooltip-border-width);
  margin-bottom: calc(-1 * var(--tooltip-border-width));
  background-color: var(--tooltip-background);
  color: var(--tooltip-text-color);
  cursor: help;
  position: relative;
}

a[data-tip]:hover:after {
  content: attr(data-tip);
  position: absolute;
  white-space: nowrap;
  display: block;
  bottom: 1.4em;
  left: calc(50%);
  background-color: var(--col-purple);
  box-shadow: var(--shadow-small);
  border-radius: var(--border-radius-m);
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 0.4em 0.6em;
  line-height: 2em;
  z-index: 1;
  transform: translateX(-50%);
  clip-path: polygon(
    0% 5%,
    100% 5%,
    100% 85%,
    55% 85%,
    50% 100%,
    45% 85%,
    0% 85%
  );
}
