@use "sass:color";
@use '../variables'as *;

.uniformdata {
    
    .header {
        background-color: var(--clr-bg-alt);
        color: var(--clr-text-alt);
        font-weight: bold;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        flex: 1;
        border: 1px dotted orange;
    }
    @for $i from 1 through 12 {
        .col-#{$i} {
            flex: 0 1 auto;
            width: #{$i}em;
        }
    }
    
}

