/**
* Customisations available in the
* different portals.
**/

:root {
    /* Layout styles */
    /* --content-width: '';
    --content-padding: '';
    --content-background: ''; */
    
    /* Header styles */
    
    /*
    --header-font:
    */
    --h3-font: bold 2.5rem/1.2 var(--header-font), sans-serif;
    --h1-margin: 0.5em 0 0;
    --h2-margin: 0.5em 0 0;
    
    

    /* Link styles */
    /* --link-color: '';
    --link-underline: ''; */
    
    /* Button styles */
    /* --btn-default-color: '';
    --btn-primary-color: '';
    --btn-secondary-color: '';
    --btn-warning-color: ''; */
    
    --kind-blue: #495599;
    --kind-orange: #FF6B00;
    --kind-light-yellow: rgb(254 255 212);
    
    /* Tootlip styles */
    --tooltip-background: var(--kind-light-yellow);
    --tooltip-border-style: dashed var(--kind-orange);
    --tooltip-border-width: 2px;
    --tooltip-text-color: black;
    
    
    /* Breadcrumb styles */
    --breadcrumb-container-color: rgb(245, 245, 245);
    --breadcrumb-container-radius: 4pt;
    --breadcrumb-container-padding: 0.5em;
    --breadcrumb-font-size: 0.7rem;
    
    --breadcrumb-color: var(--kind-blue);
    --breadcrumb-active-color: var(--kind-orange);
    --breadcrumb-separator: '/';
    --breadcrumb-text-decoratiion: none;
    --breadcrumb-active-text-decoratiion: underline;
    
    /* Theme colors (for i.e. Open Close-boxes */
    --theme-1-clr-bg: #D7D7D7;
    --theme-1-clr-text: #FFF;
    
    --theme-2-clr-bg: #6495ED;
    --theme-2-clr-text: #FFF;
    
    --theme-3-clr-bg: #FFC6D0;
    --theme-3-clr-text: #FFF;
    
    --theme-4-clr-bg: #90EE90;
    --theme-4-clr-text: #FFF;
    
    --theme-5-clr-bg: #000000;
    --theme-5-clr-text: #FFF;
    
    --theme-6-clr-bg: #FFFE4C;
    --theme-6-clr-text: #FFF;
    
    --theme-7-clr-bg: #2e8b57;
    --theme-7-clr-text: #FFF;
    
}