/**
* Customisations available in the
* different portals.
**/

:root {
  /* Layout styles */
  /* --content-width: '';
    --content-padding: '';
    --content-background: ''; */

  /* Horizontal rule */
  /* --hr-margin: 0;
  --hr-border: 0; */

  /* Font styles */
  /* --font: Ubuntu, arial, sans-serif;
  --font-alt: Ubuntu, arial, sans-serif;
  --header-font: Ubuntu, arial, sans-serif;
  --line-height: 1.6;
  --line-height-mobile: 1.6; */

  /* Header styles */
  /* --header-font: '';
    --header-highlight: '';
    --header-margins: ''; */

  /* Link styles */
  --link-color: var(--clr-primary);
  --link-underline: none;
  --link-visited-color: var(--clr-primary);
  --link-visited-underline: none;
  --link-focus-color: var(--clr-primary);
  --link-focus-underline: none;

  /* Button styles */
  --btn-text-size: 1rem;
  --btn-text-size-small: 0.75rem;
  --btn-text-size-large: 1.25rem;
  --banner-btn-text-size: 1.25rem;
  /* --btn-default-color: '';
    --btn-primary-color: '';
    --btn-secondary-color: '';
    --btn-warning-color: ''; */

  /* Tab stlyes */
  --tab-text-size: 0.8rem;
  --tab-text-align: center; /* left, center, right */
  --tab-text-adjust: end; /* start, center, end */

  --kind-blue: #495599;
  --kind-orange: #ff6b00;
  --kind-light-yellow: rgb(254 255 212);

  /* Tootlip styles */
  --tooltip-background: var(--kind-light-yellow);
  --tooltip-border-style: dashed var(--kind-orange);
  --tooltip-border-width: 2px;
  --tooltip-text-color: black;

  /* Breadcrumb styles */
  --breadcrumb-container-color: rgb(245, 245, 245);
  --breadcrumb-container-radius: 4pt;
  --breadcrumb-container-padding: 0.5em;
  --breadcrumb-font-size: 0.7rem;

  --breadcrumb-color: var(--kind-blue);
  --breadcrumb-active-color: var(--kind-orange);
  --breadcrumb-separator: '/';
  --breadcrumb-text-decoratiion: none;
  --breadcrumb-active-text-decoratiion: underline;

  /* Theme colors (for i.e. Open Close-boxes */
  --theme-1-clr-bg: #d7d7d7;
  --theme-1-clr-text: #fff;

  --theme-2-clr-bg: #6495ed;
  --theme-2-clr-text: #fff;

  --theme-3-clr-bg: #ffc6d0;
  --theme-3-clr-text: #fff;

  --theme-4-clr-bg: #90ee90;
  --theme-4-clr-text: #fff;

  --theme-5-clr-bg: #000000;
  --theme-5-clr-text: #fff;

  --theme-6-clr-bg: #fffe4c;
  --theme-6-clr-text: #fff;

  --theme-7-clr-bg: #2e8b57;
  --theme-7-clr-text: #fff;
}
