/**
* Customisations available in the
* different portals.
**/

:root {
  /* Layout styles */
  /* --content-width: '';
    --content-padding: '';
    --content-background: ''; */

  /* Header styles */
  /* --header-font: '';
    --header-highlight: '';
    --header-margins: ''; */

  /* Link styles */
  /* --link-color: '';
    --link-underline: ''; */

  /* Button styles */
  /* --btn-default-color: '';
    --btn-primary-color: '';
    --btn-secondary-color: '';
    --btn-warning-color: ''; */

  --kind-blue: #495599;
  --kind-orange: #ff6b00;
  --kind-light-yellow: rgb(254 255 212);

  /* Tootlip styles */
  --tooltip-background: #f2f2f2;
  --tooltip-border-style: dotted var(--clr-primary);
  --tooltip-border-width: 2px;
  --tooltip-text-color: var(--clr-primary);

  /* Breadcrumb styles */
  --breadcrumb-container-color: none;
  --breadcrumb-container-radius: unset;
  --breadcrumb-container-padding: unset;
  --breadcrumb-font-size: 0.9em;
  --breadcrumb-color: var(--clr-grey-300);
  --breadcrumb-active-color: var(--clr-primary);
  --breadcrumb-separator: '>';
  --breadcrumb-text-decoratiion: none;
  --breadcrumb-active-text-decoratiion: underline;

  /* Theme colors (for i.e. Open Close-boxes */

  --theme-1-clr-bg: var(--clr-primary);
  --theme-1-clr-text: var(--clr-primary-text, white);

  --theme-2-clr-bg: var(--clr-secondary);
  --theme-2-clr-text: var(--clr-seccondary-text, white);

  --theme-3-clr-bg: var(--clr-warning);
  --theme-3-clr-text: var(--clr-warning-text, white);

  --theme-4-clr-bg: var(--clr-info);
  --theme-4-clr-text: var(--clr-info-text, white);

  --theme-5-clr-bg: var(--clr-success);
  --theme-5-clr-text: var(--clr-success-text, white);
}
