@use 'sass:color';
@use 'sass:list';
@use 'variables' as *;

:root {
  --clr-bg: hsl(0, 0%, 93%);
  --clr-bg-dark: hsl(0, 0%, 87%);
  --clr-body: hsl(0, 0%, 98%);

  --clr-bg-alt: hsl(0, 0%, 20%);
  --clr-text: hsl(0, 0%, 13%);
  --clr-text-alt: hsl(0, 0%, 93%);
  --clr-btn-text: white;
  --clr-btn-text-alt: black;

  --clr-shade-100: rgba(255, 255, 255, 0.5);
  --clr-shade-500: rgba(122, 122, 122, 0.5);
  --clr-shade-900: hsl(0, 0%, 0%, 0.5);

  --border-radius: 0.25rem;
  --box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  --box-shadow-l: 2px 2px 3px rgba(0, 0, 0, 0.4);
  --box-shadow-raise: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.2);

  --font: 'Source Sans Pro', arial, sans-serif;
  --font-alt: 'Source Sans Pro', arial, sans-serif;

  --header-font: 'Source Sans Pro', arial, sans-serif;
  --header-margin: 1em 0 1rem;

  --h1-font: bold 2.75rem/1.2 var(--header-font), sans-serif;
  --h2-font: bold 2.5rem/1.2 var(--header-font), sans-serif;
  --h3-font: bold 1.5rem/1.2 var(--header-font), sans-serif;
  --h4-font: bold 1.25rem/1.2 var(--header-font), sans-serif;
  --h5-font: 600 1rem/1.2 var(--header-font), sans-serif;
  --h6-font: 600 1rem/1.2 var(--header-font), sans-serif;

  @each $level in ('h1', 'h2', 'h3', 'h4', 'h5', 'h6') {
    #{--#{$level}-margin}: 1em 0 0;
    #{--#{$level}-color}: var(--clr-text);
  }

  --timing-fast: 100ms;
  --timing-medium: 300ms;
  --timing-slow: 500ms;

  --transform-raise: translateY(-2px);

  --clr-btn: var(--clr-light-green);
  --clr-btn-text: white;

  @each $color, $hsl in $colors {
    $hs: #{list.nth($hsl, 1) list.nth($hsl, 2)};
    $l: list.nth($hsl, 3);

    --clr-#{$color}-500: hsl($hsl);

    --clr-hs-#{$color}: #{$hs};
    --clr-l-#{$color}: #{$l};
    --clr-hsl-#{$color}: #{$hsl};
    --clr-#{$color}: hsl(#{$hsl});
    --clr-#{$color}-500: hsl(#{$hsl});
    --clr-#{$color}-dark: #{hsl(
        var(--clr-hs-#{$color}) calc(var(--clr-l-#{$color}) / 2)
      )};
    --clr-#{$color}-light: #{hsl(
        var(--clr-hs-#{$color}) calc(var(--clr-l-#{$color}) * 1.75)
      )};

    --clr-#{$color}-100: #{hsl(
        var(--clr-hs-#{$color}) calc(var(--clr-l-#{$color}) / 2)
      )};
    --clr-#{$color}-300: #{hsl(
        var(--clr-hs-#{$color}) calc(var(--clr-l-#{$color}) / 0.75)
      )};
    --clr-#{$color}-700: #{hsl(
        var(--clr-hs-#{$color}) calc(var(--clr-l-#{$color}) * 1.25)
      )};
    --clr-#{$color}-900: #{hsl(
        var(--clr-hs-#{$color}) calc(var(--clr-l-#{$color}) * 1.5)
      )};

    --clr-#{$color}-tint-100: hsl(#{$hsl} / 0.1);
    --clr-#{$color}-tint-300: hsl(#{$hsl} / 0.3);
    --clr-#{$color}-tint-500: hsl(#{$hsl} / 0.5);
    --clr-#{$color}-tint-700: hsl(#{$hsl} / 0.7);
    --clr-#{$color}-tint-900: hsl(#{$hsl} / 0.9);
  }
}

:root {
  --base-size: 0.25rem;

  --padding: var(--base-size, 0.25rem);
  --padding2x: calc(2 * var(--padding));
  --padding3x: calc(3 * var(--padding));

  --gap: var(--base-size, 0.25rem);
  --gap2x: calc(2 * var(--gap));
}

// .theme-kg {
//   @each $context, $val in $kg {
//     #{--clr-#{$context}
//     }: $val;
//     #{--clr-#{$context}-dark
// }: scale-color($val, $lightness: -50%);
//   }
// }

// .theme-ks {
//   @each $context, $val in $ks {
//     #{--clr-#{$context}
//     }: $val;
//     #{--clr-#{$context}-dark
// }: scale-color($val, $lightness: -50%);
//   }
// }

// @media (prefers-color-scheme: dark) {
//     :root {
//         --clr-bg: hsl(0, 0%, 22%);
//         --clr-bg-dark: hsl(0, 0%, 31%);

//         --clr-bg-alt: hsl(0, 0%, 20%);
//         --clr-text: hsl(0, 0%, 90%);
//         --clr-text-alt: hsl(0, 0%, 13%);

//     }
// }

// body.dark {
//     --clr-bg: hsl(0, 0%, 22%);
//     --clr-bg-dark: hsl(0, 0%, 31%);

//     --clr-bg-alt: hsl(0, 0%, 20%);
//     --clr-text: hsl(0, 0%, 90%);
//     --clr-text-alt: hsl(0, 0%, 13%);

// }

// @each $color, $hsl in $colors {
//     .#{$color} {
//         --clr-bg: var(--clr-#{$color});
//         --clr-bg-dark: var(--clr-#{$color}-dark);
//     }
// }
