.justify-edge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap2x);
  width: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: var(--gap2x);
  width: 100%;
}

.small {
  font-size: 0.875em;
}

.hide-print {
  @media print {
    display: none;
  }
}
.clickable {
  cursor: pointer;
  &:hover {
    transform: var(--transform-raise);
    filter: drop-shadow(var(--box-shadow-l));
    transition: transform filter var(--timing-fast);
  }
}

.animate-scale {
  transition: all 0.1s ease-in;

  &:hover {
      transform: scale(1.1);
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  }
}


.zebra {
  & > *:nth-child(even) {
    background-color: rgba(0,0,0,.05); 
  }
}