$breakpoints: (
    small: 420px,
    medium: 780px,
    large: 180px, // ??
);


@mixin mq($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @media only screen and (max-width: $size) {
        @content;
    }
}