@use 'mixins' as *;

/*
Sitevision reset
*/

body {
  font-size: 1rem;
}

p.subHeader {
  margin: 0;
}

/*
KS reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: var(--line-height, 1.25);
  font-family: var(--font);

  @include mq(small) {
    line-height: var(--line-height-mobile, 1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:empty {
    height: 1em;
  }
}

h1 {
  font: var(--h1-font, bold 2.75rem/1.2 var(--header-font), sans-serif);
  margin: var(--h1-margin, var(--header-margin, 1em 0 0));
  color: var(--clr-el-text, var(--h1-color, var(--clr-text)));
}
h2 {
  font: var(--h2-font, bold 2.5rem/1.2 var(--header-font), sans-serif);
  margin: var(--h2-margin, var(--header-margin, 1em 0 1rem));
  color: var(--clr-el-text, var(--h2-color, var(--clr-text)));
}
h3 {
  font: var(--h3-font, bold 1.5rem/1.2 var(--header-font), sans-serif);
  margin: var(--h3-margin, var(--header-margin, 1em 0 0));
  color: var(--clr-el-text, var(--h3-color, var(--clr-text)));
}
h4 {
  font: var(--h4-font, bold 1.25rem/1.2 var(--header-font), sans-serif);
  margin: var(--h4-margin, var(--header-margin, 1em 0 0));
  color: var(--clr-el-text, var(--h4-color, var(--clr-text)));
}
h5 {
  font: var(--h5-font, 600 1rem/1.2 var(--header-font), sans-serif);
  margin: var(--h5-margin, var(--header-margin, 1em 0 0));
  color: var(--clr-el-text, var(--h5-color, var(--clr-text)));
}
h6 {
  font: var(--h6-font, 600 1rem/1.2 var(--header-font), sans-serif);
  margin: var(--h6-margin, var(--header-margin, 1em 0 0));
  color: var(--clr-el-text, var(--h6-color, var(--clr-text)));
}

p {
  margin: 0;
  &:empty {
    height: 1em;
  }
  & + *:is(h1, h2, h3, h4, h5, p) {
    margin-top: 1em;
  }
}

a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration, none);
  &:visited {
    color: var(--link-visited-color, currentColor);
    text-decoration: var(--link-visited-text-decoration);
  }
  &:hover,
  &:focus {
    color: var(--link-focus-color, currentColor);
    text-decoration: var(--link-focus-text-decation);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  small {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--clr-grey-500);
  }
}

.ked_boxed {
  margin: 1em 0;
  &.course-content-box {
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: unset;
    }
  }
}

hr {
  border: var(--hr-border, 1px var(--clr-primary) solid);
  margin: var(--hr-margin, 1em 0);
}
