@use 'sass:list';

$colors: (
  'light-green': 168 51% 49%,
  'pale-blue': 193 20% 74%,
  'dark-green': 171 6% 47%,
  'dark-blue': 240 100% 13%,
  'cyan': 168 51% 49%,
  'grey': 0 0% 50%,
  'white': 0 100% 100%,
  'light-grey': 0 0% 25%,
  'purple': 274 49% 38%,
  'red': 344 81% 54%,
  'yellow': 60 69% 54%,
  'pink': 329 80% 55%,
  'blue': 195 100% 43%,
  'magenta': 312 60% 40%,
  'orange': 44 92% 58%,
  'green': 94 42% 51%,

  'task': 226 62% 66%,
  'exercise': 155 39% 57%,
  'assignment': 226 62% 66%,
);

$contexts: ('primary', 'secondary', 'success', 'warning', 'info', 'default');

$default: (
  'default': map-get($colors, 'light-grey'),
  'primary': map-get($colors, 'cyan'),
  'secondary': map-get($colors, 'yellow'),
  'success': 128 12% 38%,
  'warning': 0 100% 16%,
  'info': 240 100% 13%,
);

$colors: map-merge($colors, $default);

$kg: (
  'primary': hsl(160, 39%, 25%),
  'secondary': hsl(303, 70%, 34%),
  'success': hsl(160, 39%, 25%),
  'warning': hsl(0, 70%, 33%),
  'info': hsl(240, 46%, 28%),
);

$ks: (
  'primary': hsl(168, 51%, 49%),
  'secondary': hsl(29, 98%, 33%),
  'success': hsl(168, 51%, 49%),
  'warning': hsl(0, 100%, 33%),
  'info': hsl(240, 77%, 46%),
);
