@use '../variables' as *;

.kui-accordion {
    --clr-el-bg: var(--clr-bg);
    --clr-el-bg-dark: var(--clr-bg-dark);
    --clr-el-text: var(--clr-text);
    --clr-el-bg-body: var(--clr-bg);
    --clr-el-text-body: var(--clr-text);

    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);

    section.kui-open-close {
     
        label.close {
            display: flex;
            justify-content: flex-start;
            padding: 0.5em;
            font-size: 0.75em;
            background: var(--clr-el-bg);
            cursor: pointer;
            &:after {
                margin-inline-start: auto;
                content: "\2A09",
                
            }
            &:hover {
                background: var(--clr-el-bg-dark);
            }
        }
    }
}


@each $context in $contexts {
    .kui-accordion.#{$context} {
        --clr-el-bg: var(--clr-#{$context});
        --clr-el-bg-dark: var(--clr-#{$context}-dark);
        --clr-el-text: var(--clr-text-alt);
    }
}