@use '../mixins' as *;

.kui-dialog {
  position: fixed;
  inset: 0;
  z-index: 200;
}

.kui-dialog > .backdrop {
  position: absolute;
  inset: 0;
  background-color: var(--clr-shade-500);
  backdrop-filter: blur(1px) saturate(0.5);
}

.kui-dialog > .dialog {
  position: absolute;
  inset: 1rem;
  display: flex;
  flex-direction: column;

  width: 30em;
  max-width: 80%;
  height: 20em;
  max-height: 90%;
  margin: auto;

  background-color: white;
  box-shadow: var(--box-shadow-raise);
  border-radius: var(--border-radius);
}

.kui-dialog.large > .dialog {
  width: auto;
  height: auto;
  max-width: unset;
  max-height: unset;
  inset: 3rem 4rem;

  @include mq(small) {
    position: fixed;
    inset: 0;
  }
}

.kui-dialog > .dialog > .header {
  flex: 0 0 fit-content;
  user-select: none;
  height: 2rem;
  background-color: var(--clr-shade-500);
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) var(--padding2x);

  *:only-child {
    flex: 1;
  }

  .title {
    font-weight: bold;
  }

  .controls {
    margin-right: -0.5em;

    .kui-close-btn {
      color: white;

      &:hover {
        color: var(--clr-warning);
      }
    }
  }
}

.kui-dialog > .dialog > .footer {
  flex: 0 0 fit-content;
  background-color: var(--clr-shade-500);
  display: flex;
  justify-content: flex-end;
  padding: var(--padding) var(--padding2x);
  border-top: 1px dotted black;
}

.kui-dialog > .dialog > .body {
  overflow-y: auto;
  padding: var(--padding2x);
  flex: 1 1 auto;
}

.kui-dialog .kui-dialog .dialog {
  transform: translate(0.5rem, 1rem);
}
