@use '../variables'as *;


*:not(.kui-accordion)>.kui-open-close {
    --clr-el-bg: var(--clr-bg);
    --clr-el-bg-dark: var(--clr-bg-dark);
    --clr-el-bg-body: var(--clr-body);
    --clr-el-text: var(--clr-text);
    --clr-el-text-body: var(--clr-text);

    margin: 1em 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.kui-open-close {
    width: 100%;
    color: var(--clr-el-text);
    overflow: hidden;

    &>input {
        display: none;
    }

    input:checked {
        &+label {
            background: var(--clr-el-bg-dark);

            &:not(.close)::after {
                transform: rotate(-90deg);
            }
        }

        &~div {
            max-height: unset;
            padding: 0.5em;
        }
    }

    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        background: var(--clr-el-bg);
        font-weight: bold;
        cursor: pointer;
        font-family: var(--font-alt);

        .title {}

        .extra-title {
            margin-left: 0.25em;
            flex: 1;
        }

        /* Icon */
        &:hover {
            background: var(--clr-el-bg-dark);
        }

        &::after {
            content: "\276E";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all var(--timing-medium);
        }
    }

    &>div {
        max-height: 0;
        padding: 0 0.5em;
        color: var(--clr-el-text-body);
        background: var(--clr-el-bg-body);
        transition: all var(--timing-fast);
    }
}


@each $context in $contexts {

    .kui-accordion.#{$context} .kui-open-close,
    .kui-open-close.#{$context} {
        --clr-el-bg: var(--clr-#{$context});
        --clr-el-bg-dark: var(--clr-#{$context}-dark);
        --clr-el-text: var(--clr-text-alt);
        --clr-el-bg-body: var(--clr-bg);
        --clr-el-text-body: var(--clr-text);
    }
}