<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

        <script src="webcomponents.js" defer></script>
<script>
    window.addEventListener('load', () => {
        const observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutation) {
                if (mutation.type == "attributes" && mutation.attributeName == 'class') {

                    if (location.href.includes('info-')) {
                        document.querySelectorAll('[class*=replace--]').forEach(el => {
                            const attr = el.className.match(/replace--(.+?) /)
                            const parent = el.parentElement;
                            el.innerHTML = attr? window.getComputedStyle(parent)[attr[1]] : el.innerHTML

                        })
                    }
                }
            });
        });

        observer.observe(document.querySelector('body'), {
            attributes: true //configure it to listen to attribute changes
        });

    })
</script>